@inherits LayoutComponentBase

<div class="page mainclass" id="maindiv">
        <main>
        <article class=" articleClass">

            <NavBar></NavBar>
            <RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter" AllowClose="false">
                This is a demo preview of the web app with trimmed data. It currently uses HTTP instead of HTTPS, so please, upon registering, DO NOT use any password/username/email that you have used before on other sites for security's sake!<br>You can find the source code on my Github under the 'About' page.
            </RadzenAlert>
                @Body
            </article>
        </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
