@using BattAnimeZone.Client.Authentication
@using BattAnimeZone.Client.Components
@using BlazorBootstrap;
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider
<link rel="stylesheet" href="/NavBar.css?version=0.2" />

<div class="navbar-outer-row">
<div class="navbar-row">
    <div class="left-items"> 
        <div class="navbar-column" @onclick="NavigateToIndex">BattAnimeZone!!</div>
            <div class="navbar-column" @onclick="NavigateToAnimes">ANIMES</div>
            <div class="navbar-column" @onclick="NavigateToGenres">GENRES</div>
            <div class="navbar-column" @onclick="NavigateToStudios">STUDIOS</div>
        
       
    </div>
    <div class="right-items">
            <div class="navbar-column-right" @onclick="ShowOffCanvasAbout">ABOUT</div>
            <AuthorizeView Roles="Administrator, User">
                <Authorized>
                    <div class="navbar-column-right"  @onclick="ShowOffCanvasAuth">
                        @userName.ToUpper()
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="navbar-column-right" @onclick="ShowOffCanvasNotAuth">LOGIN/REGISTER</div>
                </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
</div>

<AuthorizeView Roles="Administrator, User">
    <Authorized>
        <Offcanvas @ref="offcanvasAuthorized" Class="offcanvas"> </Offcanvas>
    </Authorized>
    <NotAuthorized>
        <Offcanvas @ref="offcanvasNotAuthorized" Class="offcanvas"> </Offcanvas>
    </NotAuthorized>
</AuthorizeView>
<Offcanvas @ref="offcanvasAbout" Class="offcanvas"> </Offcanvas>




@code {

    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    private Offcanvas offcanvasNotAuthorized = default!;
    private Offcanvas offcanvasAuthorized = default!;
    private Offcanvas offcanvasAbout = default!;


    string? userName = "";


    protected override async Task OnInitializedAsync()
    {
        await GetUserName();
        await base.OnInitializedAsync();
    }


    public async Task GetUserName()
    {
        try
        {
            if (authenticationState == null) return;
            var authState = await authenticationState;
            var user = authState.User;
            if (user.Identity.Name != null)
            userName = user.Identity.Name.ToString();
        }catch(Exception e)
        {
            return;
        }
    }

    private async Task ShowOffCanvasNotAuth()
    {
       
        await offcanvasNotAuthorized.ShowAsync<LoginRegisterComponent>(title: "");
    }

    private async Task ShowOffCanvasAuth()
    {

        await offcanvasAuthorized.ShowAsync<LoggedInComponent>(title: userName);
    }


    private async Task ShowOffCanvasAbout()
    {

        await offcanvasAbout.ShowAsync<AboutComponent>(title: "About");
    }

    public void NavigateToIndex()
    {
        navManager.NavigateTo($"/");
    }

    public void NavigateToAnimes()
    {
        navManager.NavigateTo($"/animelist");
    }

    public void NavigateToGenres()
    {
        navManager.NavigateTo($"/genrelist");
    }

    public void NavigateToStudios()
    {
        navManager.NavigateTo($"/studiolist");
    }

}
