@using BattAnimeZone.Client.Authentication
@using System.Net
@using BlazorBootstrap;
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authStateProvider
<link rel="stylesheet" href="/AboutComponent.css" />


<Button Color="ButtonColor.None" @onclick="NavigateToGit"><Icon Name="IconName.Github" /> Github </Button>

@code {

    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }


    public void NavigateToGit()
    {
        navManager.NavigateTo($"https://github.com/FmartinP99/BattAnimeZone", forceLoad: true);
    }
}
