
.rz-row:hover {
    border: solid 1px white;
    cursor: pointer;
}

.rz-listbox {
    background-color: transparent !important;
}

.rz-inputtext {
    background-color: transparent !important;
}
.rz-row {
    width: 1150px;
}

.dropdownDiv{
    align-content:end;
}

.rzdropdown {
    background-image: linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd);
    color: white;
}

.rz-dropdown-panel {
    background-color: rgba(0,0,0,0.6);
    color: white !important;
}

.rz-dropdown-items-wrapper {
    background-color: transparent !important;
    color: white !important;
}


.rz-dropdown-items > li {
    background-color: transparent !important;
    color: white !important;
    &:hover

{
    background-image: linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd);
}

}


.orderComponentText {
    margin-left: 50px;
}

.rz-dropdown-label{
    color:white !important;
}

.rz-multiselect-panel {
    background-color: rgb(0,0,0,0.6);
}
.rz-multiselect-items-wrapper {
    background-color: transparent !important;
}
.rz-multiselect-list{
    background-color: transparent !important;
}

.rz-multiselect-list>li{
    background-color: transparent !important;
    &:hover
{
    background-color: rgb(100,0,0,1);
    color:white;
}
}

.rz-multiselect-item  {
    background-color: transparent !important;
    &:hover

{
    background-image: linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd);
    color: white;
}

}

.rz-state-highlight{
    color:white !important;
}


.selectbarButton {
    background-image: transparent;
}

.rz-button-text-only {
    color: white !important;
}

.rz-state-active {
    background-image: linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd);
    &:hover

{
    background-image:  linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd) !important;
}
}


.orderByCol {
    margin-right: 47px;
}


.labeltext{
    margin-left: 20px;
    margin-right: 5px;
    vertical-align:middle;
}

.left-items {
    display: flex;
    flex-wrap: wrap;
    vertical-align:middle;
}

.right-items {
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
}




.outer-row {
    display: flex;
    border-radius: 5px;
    height: 100%;
    padding: 6px;
    width: 100%;


}




.navbar-column-left, .navbar-column-right {
    min-width: 70px;
    max-width: 10vw;
    margin-right: 1vw;
    display: table;
    font-size: 20px !important;
    font-family: 'system-ui';
    &:hover

{
    text-decoration: underline;
    box-shadow: none;
    opacity: 0.9;
    cursor: pointer;
}

}

.navbar-column-right {
    font-weight: 600;
}

.numericClass {
    width: 100px;
    height: 35px;
    background-color: transparent;
}

.numericClass > input {
    color:white;
}

.numericClass > button {
    color: white;
}

.rz-spinner {
    &:hover
{
    border-color:white !important;
}

}

.radzenPagerClass {
    overflow-x: clip;
    max-width: 75vw;
}

.animeRow {
    display: flex;
    height: 100px;
    margin-bottom: 30px;
    max-width:1700px;
    &:hover
{
    border: solid 1px white;
    cursor: pointer;
}
}

.attributeTitleDiv {
    min-width: 300px;
    max-width: 300px;
    margin-left: 20px;
    display: inline-block;
}


.attributeDiv {
    min-width: 85px;
    max-width: 85px;
    margin-left: 20px;
    display: inline-block;
}





