body {
}

.navbar-row {
    &:hover
{
    border: none !important;
}
}

.navbar-column {
    display: table;

    &:hover{
             
    text-decoration: underline;
    box-shadow: none;
    opacity: 0.9;
    cursor: pointer;
}
}