body {
}



.left-items {
    display: flex;
    flex-wrap: wrap; 
}

.right-items {
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
}

.navbar-column-right {
    display: table;
    font-size: 20px;
    &:hover

{
    text-decoration: underline;
    box-shadow: none;
    opacity: 0.9;
    cursor: pointer;
}
}


.navbar-row {
    display: flex;
    align-items: center;
    &:hover
{
    border: none !important;
}
}

.navbar-column {
    display: table;
    font-size: 20px;
    &:hover{
             
    text-decoration: underline;
    box-shadow: none;
    opacity: 0.9;
    cursor: pointer;
}
}


.offcanvas {
    background-image: linear-gradient(to right, #151515,#202020,#252525,#202020,#151515) !important;
}

