display-div {
    width: 100%;
}

.rz-row:hover {
    border: solid 1px white;
    cursor: pointer;
}

.rz-row {
    background-color: transparent !important;
}



.selectbarButton {
    background-image: transparent;
}


.rz-tabview-title {
    color: white !important;
}


.rz-tabview-nav > li {
    background-color: transparent;
    &:hover

{
    background-color: transparent !important;
}
}

.rz-state-active {
    background-image: linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd);
    &:hover

{
    background-image: linear-gradient(to right, #5832dd,#5025ce,#5832dd,#5025ce,#5832dd) !important;
}

}


/***********************************************************************************/

#mainContainerRow {
    display:grid;

}

#mainContainerRow:hover {
    border: none;
    cursor: default;
    }


/*--------------------------- LEFT COLUMN ------------------------------------------*/
#outerLeftColumn {
    width: 960px !important;
    padding:10px;

}

#UserNameDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

#userNameSpan {
    font-size: 30px;
    margin-bottom:4px;
}


#animeCountContainerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.textContainerDiv {
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 270px;
    max-width:270px;
    height: 170px;
    border-radius: 50px;
    box-sizing: border-box;
}

.centered-text {
    font-size: 150%;
    margin: 0;
}

#completedDiv {
    background-image: linear-gradient( to right, #0C300C, #1E8B22,#0C300C );
    #6495ED
}

#watchingDiv {
    background-image: linear-gradient( #0B2557, #6495ED,#0B2557);
}

#onholdDiv {
    background-image: linear-gradient( to right, #2D2D2D , #696969, #2D2D2D);
}

#plannedDiv {
    background-image: linear-gradient( to right, #361B52, #663399,#361B52);
}

#droppedDiv {
    background-image: linear-gradient( #4f0505, #8B0000, #4f0505);
}

#favoritesDiv {
    background-image: linear-gradient( to right, #403907, #FFE200, #403907);
    color: black;
}







/*----------------------------------- RIGHT COLUMN -------------------------*/
#outerRightColumn {
    width: 960px !important;
    padding: 10px;
}

.rz-tabview-panel{
    overflow-y: auto;
    max-height:700px;
}

.animeRow {
    display: flex !important;
    height:200px;
}

.imageCol{
    display: flow;
    max-width:100px;
    min-width:100px;
}

.imageDiv {
    display: flex;
    width: 100%;
    
}

.animeCardUpperRow{
    display: flex !important;
    height:50%;
    margin_bottom:20px;
    border-bottom:1px white dashed;
    &:hover
{
    border: none;
    border-bottom:1px white dashed;
}



}

.animeCardLowerRow {
    display: flex !important;
    height: 50%;
    margin-top:20px;
    &:hover
{
    border: none;
}

}


.attributesCol {
    width: 70px;
    margin-left:5px;
   
}

.titleCol {
    max-width: 100%;
    margin-left: 5px;
    
}